$bg: #EEF5FF;
$font-color: #1F2544;
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    border-radius: 0px;
    color: $font-color;
    a {
        text-decoration: none;
    }
    background-color: $bg;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}


.mainbody {
    padding:  0 28px;
}