//  Navbar.scss
$text-color: rgb(156, 155, 155);
$btn-color: #3887BE;

.navbar {
    // padding: 10px 16px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Set a background color */
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.logo img {
    max-width: 100%;
    height: 3.5rem;
    /* Maintain aspect ratio for the logo */
}

.navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    /* Increase the gap for better spacing */

    ul {
        // margin: 100px auto 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0;     
        max-width: 400px;
      }
      
      @media screen and (min-width: 600px) {
          ul {
              flex-direction: row;
          }
      }
      
      li { 
        position: relative; 
        // padding: 15px 0;
      }
      
      a {
        // color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 12px 18px;
        position: relative;
      }
      
      a::after { 
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 2px;
        width: 0;
        background: #080808;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
      }
      
      a:hover::after { 
        width: 100%; 
        left: 0; 
      }
}

.navItem span {
    --_p: 0%;
    font-size: 1.1rem;
    cursor: pointer;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.navItem span:hover {
    --_p: 100%;
    color: #212743;
    font-variation-settings: "wght" 582;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
    color: $text-color;
}

.register {
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 16px;
    /* Increase padding for better button size */

    background-color: $btn-color;
    color: $text-color;
    /* White text color for better contrast */
    box-shadow: 0 0 20px rgba(85, 217, 224, 0.2);
    transition: background-color 0.4s, box-shadow 0.4s transform 1.4s;
}

.register {
    background-color: rgba(255, 255, 255, 1);
    color: $btn-color;
}

.register:hover {
    box-shadow: 0 0 20px #96EFFF;
    background-color: #96EFFF;
    transform: scale(1.15);
}

@media screen and (max-width: 600px) {
    .navList {
        flex-direction: column;
        align-items: center;
    }

    .navItem {
        margin-bottom: 0.5rem;
        /* Add some spacing between items */
    }

    button {
        margin-top: 1rem;
        /* Add space between navigation items and button */
    }
}